.homepage-wrapper {
  flex: 1 0 auto;
  display: flex;
}
.content-wrapper {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  background: var(--content-bg);
}

section {
  width: 100%;
}
