.nav-bar {
  height: 100vh;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}
.nav-header,
.nav-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  height: 50px;
  color: var(--fail);
}

.nav-body {
  flex-direction: column;
}
.dashboard-items {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.nav-bar .fas {
  padding-right: 5px;
}

.left-side-nav .nav-header {
  cursor: pointer;
}

.dashboard-items .fas {
  padding-right: 5px;
}

.selected {
  color: var(--selected);
}
